{% extends "outline.html" %}

{% block content %}

<form method="POST" action="/" class="pure-form">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {% if form.search_query.errors %}
      {% for error in form.search_query.errors %}
        <p class="error-message">{{ error }}</p>
      {% endfor %}
    {% endif %}
    {{ form.search_query }}
  </div>
  {{ form.submit(class="btn-primary pure-button pure-button-primary") }}
</form>

<div class="results">
  {% if results == 'no results' %}
  <div class="pure-u-1-4"></div>
  <div class="pure-u-3-4">
    <p class="no-results">Oops! your search didn't turn up any results!</p>
  </div>
  {% else %}
    <div class="metrics">
        <h2>Search Metrics</h2>
        <ul>
            <li>Earliest Published Date: {{ results['minDate'] }}</li>
            <li>Most Recent Published Date: {{ results['maxDate'] }}</li>
            <li>Most Prolific Author: {{ results['mostProlific'] }}</li>
            <li>Server Response Time: {{ results['responseTime'] }}</li>
            <li>Total Results: {{ results['totalResults'] }}</li>
        </ul>
    </div>
    {% for item in results['items'] %}
      <article class='pure-g'>
        <div class="pure-u-1-4">
        </div>
          <button class="collapsible">{{ item['authors'] }} - {{ item['title'] }}</button>
          {% if item['description'] != '' %}
              <div class="description">
                <p>Description: {{ item['description'] }}</p>
              </div>
          {% endif %}
      </article>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}