<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <title>Joshua's Book Search app</title>
  </head>

  <body>

    <div id="layout">
        <div id="main">
            <div class="header">
              <h1>Search Google Books</h1>
              <h2>Jack's Python Web App (modified by Joshua)</h2>
            </div>
            <div class="content">
              {% block content %}
              {% endblock %}
            </div>
        </div>
    </div>
  </body>
</html>
